
@{
    ViewBag.Title = "ServiceSelect";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    h4 {
        font-weight: 400;
    }

    img {
        width: 100%;
        height: 15em;
    }

    @@media(max-width: 480px) {
        img {
            width: 100%;
            padding-left: 10vw;
        }
    }
</style>

<div class="row top">
    <div class="col-xs-12">
        <h1 class="text-center">Our Services</h1>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Preventive Maintenance</h4>
        <img src="/Images/Carousel/5 ton crane installation demag.jpg" class="photo" />
        @Html.ActionLink("View Preventive Maintenance", "PreventativeMaintenance", "Service", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Load Test</h4>
        <img src="/Images/Services/LoadTest/1-100 tons 270x360.bmp" class="photo" />
        @Html.ActionLink("View Load Test", "LoadTest", "Service", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Inspection and Repairs</h4>
        <img src="/Images/Carousel/5 ton crane installation demag.jpg" class="photo" />
        @Html.ActionLink("View Inspection Repairs", "InspectionAndRepairs", "Service", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Relocation</h4>
        <img src="/Images/Carousel/5 ton crane installation demag.jpg" class="photo" />
        @Html.ActionLink("View Relocation", "Relocation", "Service", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Modernization and Upgrades</h4>
        <img src="/Images/Services/Mods/20160102_125757.jpg" class="photo" />
        @Html.ActionLink("View Modernization and Upgrades", "ModernizationAndUpgrades", "Service", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
</div>

