
@{
    ViewBag.Title = "ProductSelect";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    h4 {
        font-weight: 400;
    }

    img {
        width: 100%;
        height: 15em;
    }

    @@media(max-width: 480px) {
        img {
            width: 100%;
            padding-left: 10vw;
        }
    }
</style>
<div class="row top">
    <div class="col-xs-12">
        <h1 class="text-center">Our Popular Products</h1>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Overhead Cranes</h4>
        <img src="/Images/Carousel/5 ton crane installation demag.jpg" class="photo" />
        @Html.ActionLink("View Cranes", "Overhead_Cranes", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Pallet Racks</h4>
        <img src="/Images/Products/PalletRacks/CantileverRacking.jpg" class="photo" />
        @Html.ActionLink("View Pallet Racks", "Pallet_Racks", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Dock Equipement</h4>
        <img src="/Images/Products/DockEquipment/DockEquipment2.jpg" class="photo" />
        @Html.ActionLink("View Loading Dock Equipment", "Loading_Dock_Equipment", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Shelving</h4>
        <img src="/Images/Products/Shelvings/Archive Shelving.jpg" class="photo" />
        @Html.ActionLink("View Shelving", "Shelving", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Conveyors</h4>
        <img src="/Images/Products/Conveyors/Ball Transfer Table.jpg" class="photo" />
        @Html.ActionLink("View Conveyors", "Converyors", "Product", new { },  new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Mezzanines</h4>
        <img src="/Images/Products/Mezzanines/image003.jpg" class="photo" />
        @Html.ActionLink("View Warehouse Mazzanines", "WarehouseMezzanines", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Protection Systems</h4>
        <img src="/Images/Products/Protection/MobileFall.jpg" class="photo" />
        @Html.ActionLink("View Fall Protection Systems", "Fall_Protection_Systems", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Demag DCS - Pro</h4>
        <img src="/Images/Products/DemagDCSPro/ChainHoist.jpg" class="photo" />
        @Html.ActionLink("View DCS Dempag Pro", "Demag_DCS_Pro", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Demag DCS - Pro Manulift</h4>
        <img src="/Images/Products/DemagProManuLift/Manulift1.jpg" class="photo" />
        @Html.ActionLink("View Demag DCM Pro Manulift", "Demag_DCM_Pro_Manulift", "Product", new { },  new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Gorbel G - Force</h4>
        <img src="/Images/Products/Gforce/gforce1.png" class="photo" />
        @Html.ActionLink("View Gorbel G Force", "Gorbel_Gforce", "Product", new { },  new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-sm-12 col-md-4 col-lg-2">
        <h4>Platforms & Ladders</h4>
        <img src="/Images/Products/PlatformsAndLadders/AccessStairway.jpg" class="photo" />
        @Html.ActionLink("View Platforms and Ladders", "Platforms_And_Ladders", "Product", new { }, new { @class = "btn btn-primary pull-right" })
    </div>
</div>


