@using System.Net.Http.Formatting
@using System.Web.Mvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Centex Material Handling. Centex Material Handling (CMH) is a distributor, integrator, & service provider of material handling & storage equipment. CMH helps companies safely increase productivity, recapture floor space, reduce errors, decrease cycle times, and increase bottom lines. " />
    <meta name="author" content="Jeremy Parris" />
    <meta name="keywords" content="material, handling, austin, tx, leander, cedar park, centex, Austin, georgetown, killeen, temple, bastrop, travis, williamson, bell, san marcos, county, overhead, cranes, crane, service, inspection, osha, repair, weight, test, load, workstation, jib, gantry, modification, repair, installation, hoist, inspection, weight, conveyor, maintenance, dock, loading, waco, temple, round rock, kyle, new braunfels, belton, ft, fort, hood, copperas, cove, equipment, installation, services, relocation, conveyor, loading, dock, equipment" />
    <META Http-Equiv="Cache-Control" Content="no-cache" />
    <META Http-Equiv="Pragma" Content="no-cache" />
    <META Http-Equiv="Expires" Content="0" />
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:700,900" rel="stylesheet">
    <link href="~/Content/styles.css?version=4" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>


    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


    <script src="~/app/Shared/app.js?version=1"></script>
    <script src="~/app/ProductCatalog/catalogcontroller.js"></script>
    <script src="~/app/Downloads/downloadcontroller.js"></script>
    <script>
        $(document).ready(function () {
            $.material.init();
        });

        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129032524-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129032524-1');
    </script>

    <title>Centex Material Handling Austin, TX</title>

</head>

<body style="background-color: #fff;" ng-app="app">
   
    <div class="row navbar-fixed-top" style="background-color : #000;">
        <div class="col-xs-12 col-md-7 col-sm-7  col-lg-3 col-lg-offset-2" style="display: none;">
            <span style="">Centex Material Handling</span>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-2 col-xs-12" style="display: none;">
            <address>
                <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">AUSTIN, TEXAS</span><br />
            </address>

            <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">PH: 512-337-8181</span><br />
            <span style="color: #fff; font-size: 1.5em; font-family: Copperplate, Copperplate Gothic Light, fantasy;">FAX: 512-646-2661</span>
        </div>
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-10">
            <img src="~/Images/Header/CentexHeaderOrange.png" class="header"/>
            <a href="tel:+15123378181" class="visible-xs" style="color: #fff; padding-left: 25px; font-weight: bold;">Office : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 512-337-8181</a>
            <a href="tel:+15127913284" class="visible-xs" style="color: #fff; padding-left: 25px; font-weight: bold;">24 Emergency Service : 512-791-3284</a>

        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Centex Material Handling</a>*@
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-center" style="margin-top: 10px;">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Preventive Maintenance", "Preventative_Maintenance", "Service")
                            <li>
                                @Html.ActionLink("Load Test", "Load_Test", "Service")
                            </li>
                            <li>
                                @Html.ActionLink("Inspections and Repairs", "Inspections_And_Repairs", "Service")
                            </li>
                            <li>
                                @Html.ActionLink("View More Services", "ServiceSelect", "Service")
                            </li>                          
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Popular Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Overhead Cranes", "Overhead_Cranes", "Product")
                            </li>
                            <li>
                                @Html.ActionLink("Pallet Racks", "Pallet_Racks", "Product")
                            </li>
                            <li>
                                @Html.ActionLink("Loading Dock Equipment", "Loading_Dock_Equipment", "Product")
                            </li>
                            <li>
                                @Html.ActionLink("View More Products", "ProductSelect", "Product")
                            </li>
                        </ul>
                    </li>

                    <li>
                        @Html.ActionLink("Complete Product Catalog", "ProductCatalog", "Home", new { type = "main" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                    <li>
                        @Html.ActionLink("Pre-Owned Equipment", "PreownedEquipment", "Home")
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <br/><br/>
        @RenderBody();
    </div>
</body>
</html>
