@using System.Web.Mvc.Html

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css.map" rel="stylesheet"/>
    <link href="~/node_modules/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />
    

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="~/node_modules/bootstrap-material-design/dist/js/ripples.min.js"></script>

    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

   
  
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Modules/app.js"></script>
    <script src="~/Scripts/Controllers/ContactCtrl.js"></script>
    
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
    <title>Centex Material Handling</title>
    <style>
        .panel {
            box-shadow: none;
        }

        .form-group {
            margin-top: 2px;
        }

        p {
            font-size: 1.3em;
        }
    </style>
</head>

<body style="background-color: #fff;">

<nav class="navbar navbar-default navbar-fixed-top" style="background: url('/Images/Header/HeaderBackground.jpg');">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      
       
           
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><img class="navbar-brand" src="/Images/Header/BuisinessLogo.png" style="height: 9vh;" /></li>

                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/Demag.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;"/>
                    </li>
                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/Gorbel.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;"/>
                    </li>
                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/Harrington.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;"/>
                    </li>
                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/interlake.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;"/>
                    </li>
                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/justrite.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;" />
                    </li>
                    <li class="visible-md visible-lg">
                        <img src="~/Images/Header/Quantum.png" style="width: 10vw; height: 5vh; margin: 2vh 1vh;"/>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-right: 10px;">
                        <label style="padding-top: 2vh; color: #000;">Phone : 512 - 791 - 3284 </label><br />
                        <label style="color: #000;">Fax : 512 - 257 - 3388 </label>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
    
<nav class="navbar navbar-default navbar-fixed-top" style="top: 7vh; z-index: 1000; height: 7.5vh; background-color: #fff; border-bottom: 2px solid #000;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Centex Material Handling</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-2">

            <ul class="nav navbar-nav" style="padding-top: 1.25vh;">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new {@style = "color:#000;"})</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #000;">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Preventive Maintenance", "Service", "Home", new {Id = 0, style = "color:#000" }, null)</li>
                        <li>@Html.ActionLink("Certified Load Test", "Service", "Home", new { Id = 1 }, null)</li>
                        <li>@Html.ActionLink("Inspections and Repairs", "Service", "Home", new { Id = 2 }, null)</li>
                        <li>@Html.ActionLink("Relocation", "Service", "Home", new { Id = 3 }, null)</li>
                        <li>@Html.ActionLink("Modifications and Upgrades", "Service", "Home", new { Id = 4 }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #000;">Popular Products <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cranes", "Product", "Home", new { Id = 0 }, null)</li>
                        <li>@Html.ActionLink("Pallet Racks", "Product", "Home", new { Id = 1 }, null)</li>
                        <li>@Html.ActionLink("Loading Dock Equipment", "Product", "Home", new { Id = 2 }, null)</li>
                        <li>@Html.ActionLink("Shelvings", "Product", "Home", new { Id = 3 }, null)</li>
                        <li>@Html.ActionLink("Conveyors", "Product", "Home", new { Id = 4 }, null)</li>
                        <li>@Html.ActionLink("Warehouse Mezzanines", "Product", "Home", new { Id = 5 }, null)</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Complete Product Catalog", "Catalog", "Home", null,  new {Id = 48, style = "color:#000" })</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { style = "color:#000" })</li>
            </ul>
               
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    @RenderBody();

</div>
</body>
</html>
